################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelResrvation/.vs/HotelResrvation/v16/Server/sqlite3
